<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <ma-view-actions override="::showController.actions" entry="entry" entity="::showController.entity">
                <a class="btn btn-default" ng-click="open($event, 'show-view')" ng-controller="HandlePrintController">
                    <span class="glyphicon glyphicon-print" aria-hidden="true"></span>&nbsp;<span class="hidden-xs ng-binding">Imprimir</span>
                </a>
                <ma-list-button ng-if="::entity.listView().enabled" label="{{ 'action.list' | trans }}" entity="::entity"></ma-list-button>
                <ma-edit-button ng-if="::entity.editionView().enabled" label="{{ 'action.edit' | trans }}" entry="entry" entity="::entity"></ma-edit-button>
                <ma-delete-button ng-if="::entity.deletionView().enabled" label="{{ 'action.delete' | trans }}" entry="entry" entity="::entity"></ma-delete-button>
            </ma-view-actions>
            <h1 compile="::showController.title">
                {{ 'action.detail' | trans }} {{ ::showController.view.entity.name() | humanize:true | singularize }}  #{{ ::entry.identifierValue }}
            </h1>
            <p class="lead" ng-if="::showController.description" compile="::showController.description">{{ ::showController.description }}</p>
        </div>
    </div>
</div>

<div class="row" id="show-view">

    <div class="table-responsive">

        <table class="table table-bordered">
            <tbody>
                <tr class="info">
                    <th colspan="5">COMERCIO</th>
                </tr>
                <tr>
                    <th>RIF</th>
                    <th colspan="2">ESTABLECIMIENTO</th>
                    <th colspan="2">CAPITAL</th>
                </tr>
                <tr>
                    <td> {{ entry.values['com_rif'] }}</td>
                    <td colspan="2">{{ entry.values['com_nomb_estb'] }}</td>
                    <td colspan="2">{{ entry.values['com_capit'] | currency:"Bs.F "}}</td>
                </tr>
                <tr>
                    <th>PATENTE</th>
                    <th colspan="2">FECHA RENOVACIÓN</th>
                    <th colspan="2">FECHA VENCIMIENTO</th>
                </tr>
                <tr>
                    <td> {{ entry.values['com_num_ptte'] }}</td>
                    <td colspan="2"> {{ entry.values['com_fechptte_ini'] | amDateFormat:'LL'}}</td>
                    <td colspan="2"> {{ entry.values['com_fechptte_fin'] | amDateFormat:'LL'}}</td>
                </tr>
                <tr>
                    <th>N° LICENCIA</th>
                    <th colspan="2">ACTIVIDAD ECONÓMICA</th>
                    <th colspan="2">TELÉFONO</th>
                </tr>
                <tr>
                    <td> {{ entry.values['com_num_lic'] }}</td>
                    <td colspan="2"> {{ entry.values['com_act_ecnma'] }}</td>
                    <td colspan="2"> {{ entry.values['com_telef_fijo'] }}</td>
                </tr>
                <tr class="info">
                    <th colspan="5">PROPIETARIO</th>
                </tr>
                <tr>
                    <th colspan="2">NOMBRE Y APELLIDO</th>
                    <th>CÉDULA</th>
                    <th colspan="2">TELÉFONO CELULAR</th>
                </tr>
                <tr>
                    <td colspan="2">{{ entry.values['com_prop'] }}</td>
                    <td>{{ entry.values['com_prop_nac'] }}{{ entry.values['com_prop_cedu'] }}</td>
                    <td colspan="2">{{ entry.values['com_prop_telef_cel'] }}</td>
                </tr>

                <tr class="info">
                    <th colspan="5">DIRECCIÓN</th>
                </tr>
                <tr>
                    <th colspan="2">ESTADO</th>
                    <th>MUNICIPIO</th>
                    <th colspan="2">PARROQUIA</th>
                </tr>
                <tr>
                    <td colspan="2">{{ entry.values['direccion.edo.edo_nomb'] }}</td>
                    <td>{{ entry.values['direccion.muni.muni_nomb'] }}</td>
                    <td colspan="2">{{ entry.values['direccion.parroq.parroq_nomb'] }}</td>
                </tr>
                <tr>
                    <th colspan="2">ZONA/SECTOR</th>
                    <th>AVENIDA/CALLE</th>
                    <th colspan="2">PUNTO DE REFERENCIA</th>
                </tr>
                <tr>
                    <td colspan="2">{{ entry.values['direccion.zona.zona_nomb'] }}</td>
                    <td>{{ entry.values['direccion.av_calle'] }}</td>
                    <td colspan="2">{{ entry.values['direccion.pto_ref'] }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
